<p id="notice"><%= notice %></p>

<h3><%= @post.title %></h3>

<p>
  <%= @post.body %>
</p>

<div class="pull-right">
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>

<h3>Reply (<%= @post.replies_count %>):</h3>
<ul>
  <% @post.replies.each do |reply| %>
  <li><%= reply.body %></li>
  <% end -%>
</ul>

<%= form_for Reply.new, url: reply_post_path do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end -%>
